body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.contenedor-proyectos {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

.proyecto {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 160px; /* Fijar una altura para las tarjetas de proyecto */
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.proyecto h3 {
    margin: 0 0 5px;
    font-size: 20px;
}

.proyecto p {
    flex-grow: 1;
    margin: 5px 0;
    color: #555;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* Número de líneas visibles */
    -webkit-box-orient: vertical;
}

.proyecto .botones {
    display: flex;
    justify-content: flex-end; /* Alinear los botones a la derecha */
    gap: 10px; /* Espacio entre los botones */
}

.proyecto button {
    background-color: #007BFF;
    border: none;
    border-radius: 5px; /* Radio reducido para bordes más suaves */
    color: white;
    font-weight: bold;
    padding: 10px 15px; /* Tamaño fijo para los botones */
    cursor: pointer;
    font-size: 16px; /* Tamaño de fuente consistente */
    transition: background-color 0.3s; /* Transición suave para hover */
}

.proyecto button:hover {
    background-color: #0056b3;
}

.upload-btn {
    background-color: #4CAF50;
}

.upload-btn:hover {
    background-color: #45a049;
}

#paginacion {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

#paginacion button {
    background-color: #007bff; /* Azul */
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#paginacion button:hover {
    background-color: #0056b3; /* Azul más oscuro */
}

.modal {
    display: none; /* Ocultar por defecto */
    position: fixed; /* Mantener fijo en la pantalla */
    z-index: 1; /* Estar encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Ocupa toda la pantalla */
    height: 100%; /* Ocupa toda la pantalla */
    overflow: auto; /* Permite el scroll si es necesario */
    background-color: rgba(0, 0, 0, 0.4); /* Fondo negro con opacidad */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Centrar el modal */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ancho del modal */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.modal-content h2 {
    text-align: center;
    margin-bottom: 10px;
}

.modal-content p {
    margin: 5px 0;
}

.modal-content button {
    background-color: #007BFF;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px; /* Tamaño de fuente consistente */
}

.modal-content button:hover {
    background-color: #0056b3;
}

.modal-content input {
    display: block;
    width: 100%; /* Ocupa todo el ancho disponible */
    margin: 5px 0;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc; /* Línea inferior para separación visual */
    font-size: 16px;
    background-color: transparent; /* Fondo transparente para que se integre mejor */
}

.modal-content label {
    margin-top: 10px;
    font-weight: bold;
    display: block;
}

.modal-content input[readonly] {
    border-bottom: none; /* Sin línea inferior en modo lectura */
    color: #555; /* Color de texto gris para indicar modo lectura */
}

.modal-content input:hover {
    background-color: #f0f0f0; /* Cambio de color al pasar el ratón por encima */
}

#upload-document {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#file-input {
    margin-right: 10px;
}

#upload-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

#upload-button:hover {
    background-color: #45a049;
}

/* Estilo para el botón de ver documento */
.ver-documento-btn {
    background-color: #007BFF;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.ver-documento-btn:hover {
    background-color: #0056b3;
}

/* Estilo para el campo de búsqueda */
#nombre-proyecto {
    width: calc(100% - 120px); /* Ajusta el ancho para que se ajuste bien con el botón de búsqueda */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px; /* Espacio entre el campo de búsqueda y el botón */
}

/* Estilo para el botón de búsqueda */
.contenedor-proyectos button {
    background-color: #007BFF;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

/* Cambia el color del botón de búsqueda al pasar el ratón por encima */
.contenedor-proyectos button:hover {
    background-color: #0056b3;
}

.busqueda-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.busqueda-container input {
    margin-right: 10px; /* Espacio entre el campo de búsqueda y el botón */
}

.busqueda-container button {
    background-color: #007BFF;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.busqueda-container button:hover {
    background-color: #0056b3;
}

input[type="text"],
input[type="email"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    font-size: 16px;
}
