<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar</title>
</head>
<body>
    <div>

        <h1>Buscar Proyecto</h1>
        <div>
            <button type="button"></button>
        </div>
        <div id="titulo-p">
            <label for="titulo">Ingrese el titulo del proyecto</label>
            <input type="text" id="titulo" placeholder="titulo">
            <button type="button">Buscar</button>
        </div>
        <div id="filtro">
            <h3 for="">selecione para buscar:</h3>
            <label for="">tipo:</label>
            <select name="" id="tipo">
                <option value="null">seleccionar...</option>
                <option value="institucional">Institucional</option>
                <option value="curricular">Curricular</option>
            </select>
            
        </div>
    </div>
</body>
</html>