<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tendencias</title>
    <link rel="stylesheet" href="../../static/css/tendencias.css">
</head>
<body>
    

    <div class="contenedor-tendencias">
        <h2>Tendencias</h2>
        <hr>
        <div class="contenedor-proyectos">
            <h2>Distribución de Proyectos por Facultad</h2>
            <div id="container-facultades"></div>
        </div>
        <div class="contenedor-proyectos">
            <h2>Distribución de Proyectos por Estado</h2>
            <div id="container-estados"></div>
        </div>
        <button>Actualizar Gráfico</button>
    </div>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/drilldown.js"></script>
    <script src="static/js/tendencias.js"></script>
</body>
</html>
